<!DOCTYPE HTML>
<html>
	<head>
		<title>Pronto - ease your selling.</title>
		<meta charset="utf-8" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css" />		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Selling vast amount of products at rapid time." />
		<meta name="keywords" content="ecommerce website pronto" />
	  <meta property="og:type" content="website" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">		
	</head>
	<body class="bg-green-100" style="font-family: 'PT Sans Narrow', sans-serif;"> 
    	<nav class="flex justify-between p-4 sticky top-0 bg-green-100 shadow-lg mb-4">
			<div class="text-2xl font-black">
				<a href="/" class="hover:text-green-500 duration-300">🔥Pronto</a>
			</div>
			<div class="flex">
				<a class="mx-2 text-2xl font-black lg:block hidden hover:text-green-500 duration-300" href="/products">Products</a>
				<a class="mx-2 text-2xl font-black lg:block hidden hover:text-green-500 duration-300" href="https://github.com/kobito-kun">Github</a>
			</div>
			<div class="text-2xl font-black lg:block hidden">
				{% if user.is_authenticated %}
					<a class="bg-blue-500 px-4 py-2 rounded-lg text-green-100 shadow" href="">Dashboard</a>
				{% else %}
				<a class="bg-blue-500 px-4 py-2 mr-2 rounded-lg text-green-100 shadow hover:bg-green-500 duration-300" href="/login">Login</a>
				<a class="bg-blue-500 px-4 py-2 rounded-lg text-green-100 shadow hover:bg-green-500 duration-300" href="/signup">Sign Up</a>
				{% endif %}
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>