<!DOCTYPE HTML>
<html>
	<head>
		<title>Pronto - ease your selling.</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css" />		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Selling vast amount of products at rapid time." />
		<meta name="keywords" content="ecommerce website pronto" />
	  <meta property="og:type" content="website" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">		
	</head>
	<body class="bg-green-100" style="font-family: 'PT Sans Narrow', sans-serif;"> 
    {% block content %}
		{% endblock %}
	</body>
</html>