{% include 'header.html' %}
{% block content %}
<div class="text-center">
	<h1 class="font-bold text-4xl p-2">Login</h1>
	<form action="" method="post" class="flex flex-col items-center justify-center">
		{% csrf_token %}
		<p class="text-red-600 font-bold">
			{{message}}
		</p>
		<input class="px-8 py-4 rounded-lg shadow focus:outline-none m-2" type="text" name="username" placeholder="Username">		
		<input class="px-8 py-4 rounded-lg shadow focus:outline-none m-2" type="password" name="password" placeholder="Password">
		<input class="text-2xl font-bold text-green-100 px-8 py-2 hover:bg-blue-400 focus:outline-none m-2 bg-blue-500 rounded-lg" type="submit" value="Login">
	</form>
	<p>Dont have an account? <a class="font-bold text-green-600" href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endblock %}